body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.bg-gradient {
    background-image: var(--bs-gradient)!important;
}

.panda-bg-info {
    background-color: #fceae8;
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0px;
}

.btn {
    padding: 0px 20px;
}